@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@model IEnumerable<SweetAndSavory.Models.Treat>

<h1>Treats for @User.Identity.Name</h1>
<br>

<form asp-controller="Treats" asp-action="Index">
    <p>
        <i class="fa fa-search"></i> <input type="text" class="searchBar" name="SearchTreat" placeholder="Find Treat">
    </p>
</form>
<br>

@if (Model.Any())
{
  
    @foreach (Treat treat in Model)
    {
      <h3>@Html.ActionLink($"{treat.Description}", "Details", new { id = treat.TreatId })</h3>
    }
  
} 
else
{
  <h3>No treats have been added yet!</h3>
}
<br>
<h4>@Html.ActionLink("Make Reservation", "Create", "Reservations")</h4>
<h4>@Html.ActionLink("Add new treat", "Create")</p>
<h4>@Html.ActionLink("Home", "Index", "Home")</p>